<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
    http://www.springframework.org/schema/context    
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 菜单管理 -->
	<bean id="system.MenuTypeDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.MenuType</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="system.MenuTypeService" class="javax.xianfeng.system.permit.service.MenuTypeService">
		<property name="menuTypeDao" ref="system.MenuTypeDao" />
	</bean>

	<bean id="system.MenuDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.Menu</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="system.MenuService" class="javax.xianfeng.system.permit.service.MenuService">
		<property name="menuDao" ref="system.MenuDao" />
	</bean>

	<!-- 功能管理 -->
	<bean id="system.ModuleDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.Module</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="system.ModuleService" class="javax.xianfeng.system.permit.service.ModuleService">
		<property name="moduleDao" ref="system.ModuleDao" />
	</bean>

	<bean id="system.FunctionDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.Function</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="system.FunctionService" class="javax.xianfeng.system.permit.service.FunctionService">
		<property name="functionDao" ref="system.FunctionDao" />
	</bean>
	
	<bean id="system.OperationDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.Operation</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="system.OperationService" class="javax.xianfeng.system.permit.service.OperationService">
		<property name="operationDao" ref="system.OperationDao" />
	</bean>
	
	<!-- 权限管理 -->
	<bean id="system.RoleDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.Role</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.RoleService" class="javax.xianfeng.system.permit.service.RoleService">
		<property name="roleDao" ref="system.RoleDao"/>
	</bean>
	
	<bean id="system.RoleOperationDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.RoleOperation</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.RoleOperationService" class="javax.xianfeng.system.permit.service.RoleOperationService">
		<property name="roleOperationDao" ref="system.RoleOperationDao"/>
	</bean>
	
	<!-- 用户管理 -->
	<bean id="system.UserDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.User</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.UserService" class="javax.xianfeng.system.permit.service.UserService">
		<property name="userDao" ref="system.UserDao"/>
	</bean>
	
	<bean id="system.UserRoleDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.permit.entity.UserRole</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.UserRoleService" class="javax.xianfeng.system.permit.service.UserRoleService">
		<property name="userRoleDao" ref="system.UserRoleDao"/>
		<property name="roleDao" ref="system.RoleDao"/>
	</bean>
	
	<bean name="system.UserMenuService" class="javax.xianfeng.system.permit.service.UserMenuService">
		<property name="menuDao" ref="system.MenuDao" />
	</bean>
	
	<!-- 在线用户 -->
	<bean id="system.UserOnlineDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.security.entity.UserOnline</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.UserOnlineService" class="javax.xianfeng.system.security.service.UserOnlineService">
		<property name="userOnlineDao" ref="system.UserOnlineDao"/>
	</bean>
	
	<!-- 首页管理 -->
	<bean id="system.DefaultPageDao" class="javax.xianfeng.hibernate.dao.HibernateDaoImpl">
		<constructor-arg>
			<value>javax.xianfeng.system.portal.entity.DefaultPage</value>
		</constructor-arg>
		<property name="dataSource" ref="dataSource"/>
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean name="system.DefaultPageService" class="javax.xianfeng.system.portal.service.DefaultPageService">
		<property name="defaultPageDao" ref="system.DefaultPageDao"/>
	</bean>
		
</beans>